<!-- HTML for APIs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pharmaceutical Company</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="js/main.js"></script>
    <script src="https://cdn.tailwindcss.com"></script> <!--Se usa tailwindcss-->
</head>
<body class="antialiased bg-body text-body font-body">https://realpython.com/python-django-blog/
    <div class="">
            <p class="max-w-3xl mx-auto mb-8 lg:mb-12 text-xl text-gray-500">
                Medicines  
            </p>
    </div>
</body>
</html>